<div class="utility-view rounded" style="padding-bottom: 2em;" ng-show="!isComplete">
  <cn-loading></cn-loading>
</div>
<div class="utility-view rounded" ng-show="isComplete">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <button class="btn btn-menu btn-header btn-info pull-right"
              style="margin-top:-4px;"
              ng-click="model.viewModel.toggleLanguage()">
        {{ 'en'==model.viewModel.record.lang ? 'Version française' : 'English Version' }}
      </button>
      <span ng-bind-html="getHeading()"></span>
    </h4>
  </div>
  <div class="form-footer text-right bg-info" style="height:4.6em;">
    <div class="btn-group">
      <div class="btn-group dropdown">
        <button type="button"
                class="btn btn-default dropdown-toggle"
                id="downloadForms"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ng-bind-html="t( 'misc.download' ) + ' <span class=\'caret\' ng-if=\'op.operations\'></span>'"></button>
        <ul class="dropdown-menu dropdown-menu-right full-width" style="width: 200px !important" aria-labelledby="downloadForms">
          <li><a ng-click="model.viewModel.downloadApplication()" ng-bind-html="t( 'misc.application' )"></a></li>
          <li><a ng-click="model.viewModel.downloadChecklist()" ng-bind-html="t( 'misc.dataChecklist' )"></a></li>
          <li>
            <a ng-if="'review' != model.viewModel.record.phase"
               ng-click="model.viewModel.displayDecisionNotice()"
               ng-bind-html="t( 'misc.notices' )"></a>
          </li>
          <li ng-if="model.viewModel.canViewData()">
            <a ng-click="model.viewModel.viewData()" ng-bind-html="t( 'misc.studyData' )"></a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default"
              ng-if="model.viewModel.show( 'report' )"
              ng-click="model.viewModel.viewReport()"
              ng-bind-html="t( 'misc.finalReport' )"
              type="button"></button>

      <div class="btn-group dropdown" ng-if="model.viewModel.show( 'compare' ) && 1 < model.viewModel.versionList.length">
        <button type="button"
                class="btn btn-info dropdown-toggle"
                id="versionList"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          Compare {{ null == model.viewModel.compareRecord ? '' : 'Version ' + model.viewModel.compareRecord.amendment_version }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu full-width" aria-labelledby="versionList">
          <li ng-repeat="version in model.viewModel.versionList">
            <a ng-if="version.id != model.viewModel.record.id && model.viewModel.compareRecord != version"
               ng-click="compareTo( version )">
              {{ null == version ? 'none' : 'Version ' + version.amendment_version }}
            </a>
          </li>
        </ul>
      </div>
      <button class="btn btn-primary"
              ng-if="model.viewModel.show( 'view' )"
              ng-click="model.viewModel.viewReqn()"
              type="button">Show Record</button>
      <button class="btn btn-success"
              ng-if="model.viewModel.show( 'submit' )"
              ng-click="model.viewModel.submit()"
              ng-bind-html="t( 'misc.submit' )"
              type="button"></button>
      <button class="btn btn-warning"
              ng-if="model.viewModel.show( 'amend' )"
              ng-click="model.viewModel.amend()"
              ng-bind-html="t( 'misc.amend' )"
              type="button"></button>
    </div>
    <div class="btn-group pull-left">
      <button class="btn btn-danger"
              ng-if="model.viewModel.show( 'delete' )"
              ng-click="model.viewModel.delete()"
              ng-bind-html="t( 'misc.delete' )"
              type="button"></button>
      <button class="btn btn-danger"
              ng-if="model.viewModel.show( 'abandon' )"
              ng-click="model.viewModel.abandon()"
              ng-bind-html="t( 'misc.abandon' )"
              type="button"></button>
    </div>
  </div>
  <div class="container-fluid" style="padding-top: 1em;">
    <ul class="nav nav-tabs">
      <li ng-class="{'active':'instructions'==model.viewModel.tab[0]}">
        <a ng-click="model.viewModel.setTab(0,'instructions')"
           ng-class="{
             'text-warning flashing': model.getEditEnabled() && (
               model.viewModel.record.deferral_note_amendment
             ),
             'bg-warning': model.viewModel.compareRecord.differences.amendment.diff
           }"
           ng-bind-html="t( 'instructions.tab' )"></a>
      </li>
      <li ng-class="{'active':'part1'==model.viewModel.tab[0]}">
        <a ng-click="model.viewModel.setTab(0,'part1')"
           ng-class="{
             'text-warning flashing': model.getEditEnabled() && (
               model.viewModel.record.deferral_note_1a || model.viewModel.record.deferral_note_1b ||
               model.viewModel.record.deferral_note_1c || model.viewModel.record.deferral_note_1d ||
               model.viewModel.record.deferral_note_1e || model.viewModel.record.deferral_note_1f
             ),
             'bg-warning': model.viewModel.compareRecord.differences.part1.diff
           }"
           ng-bind-html="t( 'part1.tab' )"></a>
      </li>
      <li ng-class="{'active':'part2'==model.viewModel.tab[0]}">
        <a ng-click="model.viewModel.setTab(0,'part2')"
           ng-class="{
             'text-warning flashing': model.getEditEnabled() && (
               model.viewModel.record.deferral_note_2a || model.viewModel.record.deferral_note_2b ||
               model.viewModel.record.deferral_note_2c || model.viewMOdel.record.deferral_note_2d ||
               model.viewModel.record.deferral_note_2e
             ),
             'bg-warning': model.viewModel.compareRecord.differences.part2.diff
           }"
           ng-bind-html="t( 'part2.tab' )"></a>
      </li>
      <li ng-class="{'active':'part3'==model.viewModel.tab[0]}">
        <a ng-click="model.viewModel.setTab(0,'part3')" ng-bind-html="t( 'part3.tab' )"></a>
      </li>
      <li ng-class="{'active':'agreement'==model.viewModel.tab[0]}" ng-if="model.viewModel.showAgreement()">
        <a ng-click="model.viewModel.setTab(0,'agreement')">Agreement</a>
      </li>
    </ul>
    <div ng-show="'instructions'==model.viewModel.tab[0]" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;" ng-if="'.' == model.viewModel.record.amendment">
        <h4 ng-bind-html="t( 'instructions.title' )"></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-bind-html="t( 'instructions.text1' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text2' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text3' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text4' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text5' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text6' )"></li>
        </ul>
      </div>
      <div class="panel-body" style="padding-bottom: 0px;" ng-if="'.' != model.viewModel.record.amendment">
        <h4 style="margin-top: 0; margin-bottom: 1em;" ng-bind-html="t( 'amendment.title' )"></h4>
        <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_amendment" class="bg-info"></cn-reqn-deferral-note>
        <ul class="list-group">
          <li class="list-group-item" ng-bind-html="t( 'amendment.text1' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'amendment.text2' )"></li>
        </ul>
        <form id="amendmentForm" name="amendmentForm" novalidate><fieldset ng-disabled="!model.getEditEnabled()">
          <p class="text-primary" ng-bind-html="t( 'amendment.text3' )"></p>
          <div class="input-group spacer"
               ng-class="{'has-feedback has-error':model.viewModel.noAmendmentTypes}"
               style="padding: 0 0.5em">
            <div ng-repeat="amendmentType in model.amendmentTypeList[model.viewModel.record.lang]">
              <div style="margin: 0;"
                   class="row"
                   ng-class="{ 'bg-warning': model.viewModel.compareRecord.differences.amendment.a['amendmentType'+amendmentType.id] }">
                <input type="checkbox"
                       id="amendmentType{{ amendmentType.id }}"
                       ng-model="model.viewModel.record['amendmentType'+amendmentType.id]"
                       ng-change="model.viewModel.toggleAmendmentTypeValue( amendmentType.id )"></input>
                <label for="amendmentType{{ amendmentType.id }}" class="control-label" ng-bind-html="amendmentType.name"></label>
              </div>
              <div style="padding: 0 2em;"
                   ng-if="amendmentType.justificationPrompt && model.viewModel.record['amendmentType'+amendmentType.id]">
                <span class="text-info" ng-bind-html="amendmentType.justificationPrompt"></span>
              </div>
            </div>
            <span ng-if="model.viewModel.noAmendmentTypes" class="help-block" ng-bind-html="t( 'amendment.atLeastOne' )"></span>
            <cn-reqn-view-input
              ng-if="model.viewModel.amendmentTypeWithJustificationSelected()"
              no-cols=true
              input="{
                key: 'amendment_justification',
                title: 'Justification',
                type: 'text'
              }"
              difference="model.viewModel.compareRecord.differences.amendment.a.amendment_justification"
              model="model">
            </cn-reqn-view-input>
          </div>
        </fieldset></form>
      </div>
    </div>
    <div ng-show="'part1'==model.viewModel.tab[0]" class="panel panel-default">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;" ng-bind-html="t( 'part1.title' )"></h4>
        <ul class="nav nav-tabs">
          <li ng-repeat="section in model.viewModel.tabSectionList"
              ng-if="'part1' == section[0]"
              ng-class="{'active':section[1] == model.viewModel.tab[1]}">
            <a ng-click="model.viewModel.setTab(1,section[1])"
               ng-class="{
                 'text-warning flashing':model.getEditEnabled() && model.viewModel.record['deferral_note_1'+section[1]],
                 'bg-warning': model.viewModel.compareRecord.differences.part1[section[1]].diff
               }"
               ng-bind-html="t( 'part1.'+section[1]+'.tab' )"></a>
          </li>
        </ul>
        <div ng-show="'a'==model.viewModel.tab[1]" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_1a" class="bg-info"></cn-reqn-deferral-note>
            <p class="text-primary" ng-bind-html="t( 'part1.a.text1' )"></p>
            <p class="text-primary" ng-bind-html="t( 'part1.a.text2' )"></p>
            <hr/>
            <form id="amendmentForm" name="amendmentForm" novalidate><fieldset ng-disabled="!model.getEditEnabled()">
              <div class="form-horizontal">
                <cn-reqn-view-input
                  input="{
                    key: 'applicant_name',
                    title: t( 'part1.a.applicant_name' ),
                    type: model.inputList.applicant_name.type,
                    constant: true
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.applicant_name"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'applicant_position',
                    title: t( 'part1.a.applicant_position' ),
                    type: model.inputList.applicant_position.type
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.applicant_position"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'applicant_affiliation',
                    title: t( 'part1.a.applicant_affiliation' ),
                    type: model.inputList.applicant_affiliation.type
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.applicant_affiliation"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'applicant_address',
                    title: t( 'part1.a.applicant_address' ),
                    type: model.inputList.applicant_address.type
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.applicant_address"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'applicant_phone',
                    title: t( 'part1.a.applicant_phone' ),
                    type: model.inputList.applicant_phone.type
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.applicant_phone"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'applicant_email',
                    title: t( 'part1.a.applicant_email' )+'<sup>ⓘ</sup>',
                    type: model.inputList.applicant_email.type,
                    constant: true,
                    help: t( 'misc.emailText' )
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.applicant_email"
                  model="model">
                </cn-reqn-view-input>
              </div>
              <hr />
              <p class="text-primary" ng-bind-html="t( 'part1.a.text3' )"></p>
              <div class="form-horizontal">
                <cn-reqn-view-input
                  input="{
                    key: 'graduate_name',
                    title: t( 'part1.a.graduate_name' ),
                    type: model.inputList.graduate_name.type,
                    constant: true
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.graduate_name"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'graduate_program',
                    title: t( 'part1.a.graduate_program' ),
                    type: model.inputList.graduate_program.type,
                    constant: !model.viewModel.record.graduate_name
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.graduate_program"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'graduate_institution',
                    title: t( 'part1.a.graduate_institution' ),
                    type: 'string',
                    constant: !model.viewModel.record.graduate_name
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.graduate_institution"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'graduate_address',
                    title: t( 'part1.a.graduate_address' ),
                    type: model.inputList.graduate_address.type,
                    constant: !model.viewModel.record.graduate_name
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.graduate_address"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'graduate_phone',
                    title: t( 'part1.a.graduate_phone' ),
                    type: model.inputList.graduate_phone.type,
                    constant: !model.viewModel.record.graduate_name
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.graduate_phone"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'graduate_email',
                    title: t( 'part1.a.graduate_email' )+'<sup>ⓘ</sup>',
                    type: model.inputList.graduate_email.type,
                    constant: true,
                    help: t( 'misc.emailText' )
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.graduate_email"
                  model="model">
                </cn-reqn-view-input>
              </div>
              <hr />
              <p class="text-primary" ng-bind-html="t( 'part1.a.text4' )"></p>
              <div class="form-horizontal">
                <cn-reqn-view-input
                  input="{
                    key: 'waiver',
                    title: t( 'part1.a.waiver' ),
                    type: 'enum',
                    enumList: model.metadata.columnList.waiver.enumList[model.viewModel.record.lang],
                    constant: !model.viewModel.record.graduate_name
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.a.waiver"
                  model="model">
                </cn-reqn-view-input>
              </div>
            </fieldset></form>
          </div>
        </div>
        <div ng-show="'b'==model.viewModel.tab[1]" class="panel panel-default">
          <div class="panel-body">
            <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_1b"></cn-reqn-deferral-note>
            <p class="text-primary" ng-bind-html="t( 'part1.b.text' )"></p>
            <div class="panel panel-default">
              <div class="panel-body"
                   ng-class="{ 'bg-warning': 0 < model.viewModel.compareRecord.differences.part1.b.coapplicantList.length }">
                <h4 ng-if="0 < model.viewModel.compareRecord.differences.part1.b.coapplicantList.length">Current Version List</h4>
                <span ng-show="0 == model.viewModel.record.coapplicantList.length"
                      ng-bind-html="t( 'part1.b.noCoapplicants' )"></span>
                <table class="table table-striped" ng-show="0 < model.viewModel.record.coapplicantList.length">
                  <thead class="bg-info">
                    <tr>
                      <td ng-bind-html="t( 'part1.b.name' )"></td>
                      <td ng-bind-html="t( 'part1.b.position' )"></td>
                      <td ng-bind-html="t( 'part1.b.affiliation' )"></td>
                      <td ng-bind-html="t( 'part1.b.email' )"></td>
                      <td ng-bind-html="t( 'part1.b.role' )"></td>
                      <td ng-bind-html="t( 'part1.b.access' )"></td>
                      <td ng-show="model.getEditEnabled()"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="coapplicant in model.viewModel.record.coapplicantList">
                      <td>{{ coapplicant.name }}</td>
                      <td>{{ coapplicant.position }}</td>
                      <td>{{ coapplicant.affiliation }}</td>
                      <td>{{ coapplicant.email }}</td>
                      <td>{{ coapplicant.role }}</td>
                      <td>{{ coapplicant.access ? 'Yes' : 'No' }}</td>
                      <td ng-show="model.getEditEnabled()">
                        <button class="btn btn-xs btn-danger"
                                ng-disabled="isDeletingCoapplicant.includes( coapplicant.id )"
                                ng-click="removeCoapplicant( coapplicant.id )"
                                uib-tooltip-html="t( 'misc.remove' )">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div ng-if="0 < model.viewModel.compareRecord.differences.part1.b.coapplicantList.length">
                  <hr style="border-top-color: gray;"/>
                  <h4>Version {{ model.viewModel.compareRecord.amendment_version }} List</h4>
                  <span ng-show="0 == model.viewModel.compareRecord.coapplicantList.length"
                        ng-bind-html="t( 'part1.b.noCoapplicants' )"></span>
                  <table class="table table-striped" ng-show="0 < model.viewModel.compareRecord.coapplicantList.length">
                    <thead class="bg-info">
                      <tr>
                        <td ng-bind-html="t( 'part1.b.name' )"></td>
                        <td ng-bind-html="t( 'part1.b.position' )"></td>
                        <td ng-bind-html="t( 'part1.b.affiliation' )"></td>
                        <td ng-bind-html="t( 'part1.b.email' )"></td>
                        <td ng-bind-html="t( 'part1.b.role' )"></td>
                        <td ng-bind-html="t( 'part1.b.access' )"></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="coapplicant in model.viewModel.compareRecord.coapplicantList">
                        <td>{{ coapplicant.name }}</td>
                        <td>{{ coapplicant.position }}</td>
                        <td>{{ coapplicant.affiliation }}</td>
                        <td>{{ coapplicant.email }}</td>
                        <td>{{ coapplicant.role }}</td>
                        <td>{{ coapplicant.access ? 'Yes' : 'No' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <form id="part1bForm" name="part1bForm" ng-show="model.getEditEnabled()" novalidate>
              <fieldset ng-disabled="!model.getEditEnabled()">
                <div class="form-horizontal">
                  <cn-add-input
                    input="{ key: 'name', title: t( 'part1.b.name' ), type: 'string' }"
                    record="coapplicantRecord"
                    model="model.viewModel.coapplicantModel"
                    first="true">
                  </cn-add-input>
                  <cn-add-input
                    input="{ key: 'position', title: t( 'part1.b.position' ), type: 'string' }"
                    record="coapplicantRecord"
                    model="model.viewModel.coapplicantModel"
                    first="false">
                  </cn-add-input>
                  <cn-add-input
                    input="{ key: 'affiliation', title: t( 'part1.b.affiliation' ), type: 'string' }"
                    record="coapplicantRecord"
                    model="model.viewModel.coapplicantModel"
                    first="false">
                  </cn-add-input>
                  <cn-add-input
                    input="{
                      key: 'email',
                      title: t( 'part1.b.email' )+'<sup>ⓘ</sup>',
                      type: 'string',
                      help: t( 'misc.emailText' )
                    }"
                    record="coapplicantRecord"
                    model="model.viewModel.coapplicantModel"
                    first="false">
                  </cn-add-input>
                  <cn-add-input
                    input="{ key: 'role', title: t( 'part1.b.role' ), type: 'string' }"
                    record="coapplicantRecord"
                    model="model.viewModel.coapplicantModel"
                    first="false">
                  </cn-add-input>
                  <cn-add-input
                    input="{
                      key: 'access',
                      title: t( 'part1.b.access' ),
                      type: 'boolean',
                      enumList: model.metadata.accessEnumList[model.viewModel.record.lang]
                    }"
                    record="coapplicantRecord"
                    model="model.viewModel.coapplicantModel"
                    first="false">
                  </cn-add-input>
                  <button class="btn btn-primary pull-right"
                          ng-disabled="isAddingCoapplicant"
                          ng-click="addCoapplicant()"
                          ng-bind-html="t( 'part1.b.addCoapplicant' )"></button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div ng-show="'c'==model.viewModel.tab[1]" class="panel panel-default">
          <div class="panel-body">
            <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_1c"></cn-reqn-deferral-note>
            <p class="text-primary" ng-bind-html="t( 'part1.c.text1' ) + startDateDelay + t( 'part1.c.text2' )"></p>
            <p class="text-primary" ng-bind-html="t( 'part1.c.text3' )"></p>
            <p class="text-primary" ng-bind-html="t( 'part1.c.text4' )"></p>
            <hr/>
            <form id="part1cForm" name="part1cForm" novalidate><fieldset ng-disabled="!model.getEditEnabled()">
              <div class="form-horizontal">
                <cn-view-input
                  input="{
                    key: 'deadline',
                    title: t( 'part1.c.deadline' ),
                    type: 'date',
                    constant: true
                  }"
                  ng-if="model.viewModel.record.deadline"
                  difference="model.viewModel.compareRecord.differences.part1.c.deadline"
                  model="model">
                </cn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'start_date',
                    title: t( 'part1.c.start_date' ),
                    type: model.inputList.start_date.type,
                    min: model.viewModel.minStartDate
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.c.start_date"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'duration',
                    title: t( 'part1.c.duration' ),
                    type: 'enum',
                    enumList: '.' == model.viewModel.record.amendment
                      ? model.metadata.columnList.duration.standardEnumList[model.viewModel.record.lang]
                      : '2' == model.viewModel.record.duration.substr(0,1)
                      ? model.metadata.columnList.duration.amendment2EnumList[model.viewModel.record.lang]
                      : model.metadata.columnList.duration.amendment3EnumList[model.viewModel.record.lang]
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.c.duration"
                  model="model">
                </cn-reqn-view-input>
              </div>
            </fieldset></form>
          </div>
        </div>
        <div ng-show="'d'==model.viewModel.tab[1]" class="panel panel-default">
          <div class="panel-body">
            <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_1d"></cn-reqn-deferral-note>
            <p class="text-primary" ng-bind-html="t( 'part1.d.text1' )"></p>
            <hr/>
            <form id="part1dForm" name="part1dForm" novalidate><fieldset ng-disabled="!model.getEditEnabled()">
              <div class="form-horizontal">
                <cn-reqn-view-input
                  input="{
                    key: 'title',
                    title: t( 'part1.d.title' ),
                    type: model.inputList.title.type
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.d.title"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'keywords',
                    title: t( 'part1.d.keywords' )+'<sup>ⓘ</sup>',
                    type: 'string',
                    help: t( 'part1.d.keywords_text' )
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.d.keywords"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'lay_summary',
                    title: t( 'part1.d.lay_summary' ) + '<sup>ⓘ</sup><br><span class=text-info>(' +
                           model.viewModel.charCount.lay_summary + ' ' + t( 'misc.chars' ) + ')</span>',
                    type: model.inputList.lay_summary.type,
                    maxLength: 1000,
                    help: t( 'part1.d.lay_summary_text' )
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.d.lay_summary"
                  model="model">
                </cn-reqn-view-input>
                <hr/>
                <p class="text-primary" ng-bind-html="t( 'part1.d.text2' )"></p>
                <cn-reqn-view-input
                  input="{
                    key: 'background',
                    title: t( 'part1.d.background' ) + '<br><span class=text-info>(' +
                           model.viewModel.charCount.background + ' ' + t( 'misc.chars' ) + ')</span>',
                    type: model.inputList.background.type,
                    maxLength: 4500
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.d.background"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'objectives',
                    title: t( 'part1.d.objectives' ) + '<br><span class=text-info>(' +
                           model.viewModel.charCount.objectives + ' ' + t( 'misc.chars' ) + ')</span>',
                    type: model.inputList.objectives.type,
                    maxLength: 4500
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.d.objectives"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'methodology',
                    title: t( 'part1.d.methodology' )+'<sup>ⓘ</sup>' + '<br><span class=text-info>(' +
                           model.viewModel.charCount.methodology + ' ' + t( 'misc.chars' ) + ')</span>',
                    type: 'text',
                    maxLength: 4500,
                    help: t( 'part1.d.methodology_text' )
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.d.methodology"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'analysis',
                    title: t( 'part1.d.analysis' )+'<sup>ⓘ</sup>' + '<br><span class=text-info>(' +
                           model.viewModel.charCount.analysis + ' ' + t( 'misc.chars' ) + ')</span>',
                    type: 'text',
                    maxLength: 4500,
                    help: t( 'part1.d.analysis_text' )
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.d.analysis"
                  model="model">
                </cn-reqn-view-input>
                <hr/>
                <p class="text-primary" ng-bind-html="t( 'part1.d.text3' ) + maxReferencesPerReqn + t( 'part1.d.text4' )"></p>
                <div class="panel panel-default">
                  <div class="panel-body"
                       ng-class="{ 'bg-warning': 0 < model.viewModel.compareRecord.differences.part1.d.referenceList.length }">
                    <h4 ng-if="0 < model.viewModel.compareRecord.differences.part1.d.referenceList.length">Current Version List</h4>
                    <span ng-show="0 == model.viewModel.record.referenceList.length"
                          ng-bind-html="t( 'part1.d.noReferences' )"></span>
                    <table class="table table-striped" ng-show="0 < model.viewModel.record.referenceList.length">
                      <thead class="bg-info">
                        <tr>
                          <td ng-bind-html="t( 'part1.d.number' )"></td>
                          <td ng-bind-html="t( 'part1.d.reference' )"></td>
                          <td ng-show="model.getEditEnabled()"></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="reference in model.viewModel.record.referenceList | orderBy: 'rank'">
                          <td>
                            <div class="btn-group">
                              <button class="btn btn-info dropdown-toggle"
                                      data-toggle="dropdown"
                                      ng-enabled="model.getEditEnabled()"
                                      type="button">
                                {{ reference.rank }}
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="r in model.viewModel.record.referenceList | orderBy: 'rank'"
                                    ng-class="{ 'active': r.rank == reference.rank }">
                                  <a href="#" ng-click="setReferenceRank( reference.id, r.rank )">
                                    {{ r.rank }}
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                          <td class="text-left">{{ reference.reference }}</td>
                          <td ng-show="model.getEditEnabled()">
                            <button class="btn btn-xs btn-danger"
                                    ng-disabled="isDeletingReference.includes( reference.id )"
                                    ng-click="removeReference( reference.id )"
                                    uib-tooltip-html="t( 'misc.remove' )">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div ng-if="0 < model.viewModel.compareRecord.differences.part1.d.referenceList.length">
                      <hr style="border-top-color: gray;"/>
                      <h4>Version {{ model.viewModel.compareRecord.amendment_version }} List</h4>
                      <span ng-show="0 == model.viewModel.compareRecord.referenceList.length"
                            ng-bind-html="t( 'part1.d.noReferences' )"></span>
                      <table class="table table-striped" ng-show="0 < model.viewModel.compareRecord.referenceList.length">
                        <thead class="bg-info">
                          <tr>
                            <td ng-bind-html="t( 'part1.d.number' )"></td>
                            <td ng-bind-html="t( 'part1.d.reference' )"></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="reference in model.viewModel.compareRecord.referenceList | orderBy: 'rank'">
                            <td>{{ reference.rank }}</td>
                            <td class="text-left">{{ reference.reference }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div ng-show="model.getEditEnabled()">
                  <cn-add-input
                    class="col-sm-10"
                    input="{ key: 'reference', title: t( 'part1.d.reference' ), type: 'string' }"
                    record="referenceRecord"
                    model="model.viewModel.referenceModel"
                    first="false">
                  </cn-add-input>
                  <button class="btn btn-primary col-sm-2"
                          ng-disabled="isAddingReference"
                          ng-click="addReference()"
                          ng-bind-html="t( 'part1.d.addReference' )"></button>
                </div>
              </div>
            </fieldset></form>
          </div>
        </div>
        <div ng-show="'e'==model.viewModel.tab[1]" class="panel panel-default">
          <div class="panel-body">
            <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_1e"></cn-reqn-deferral-note>
            <p class="text-primary" ng-bind-html="t( 'part1.e.text' )"></p>
            <hr/>
            <form id="part1eForm" name="part1eForm" novalidate><fieldset ng-disabled="!model.getEditEnabled()">
              <div class="form-horizontal">
                <cn-reqn-view-input
                  input="{
                    key: 'funding',
                    title: t( 'part1.e.funding' ),
                    type: 'enum',
                    enumList: model.metadata.columnList.funding.enumList[model.viewModel.record.lang]
                  }"
                  difference="model.viewModel.compareRecord.differences.part1.e.funding"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'funding_agency',
                    title: t( 'part1.e.funding_agency' ),
                    type: model.inputList.funding_agency.type
                  }"
                  ng-if="'no' != model.viewModel.record.funding"
                  difference="model.viewModel.compareRecord.differences.part1.e.funding_agency"
                  model="model">
                </cn-reqn-view-input>
                <cn-reqn-view-input
                  input="{
                    key: 'grant_number',
                    title: t( 'part1.e.grant_number' ),
                    type: model.inputList.grant_number.type
                  }"
                  ng-if="'no' != model.viewModel.record.funding"
                  difference="model.viewModel.compareRecord.differences.part1.e.grant_number"
                  model="model">
                </cn-reqn-view-input>
                <fieldset ng-disabled="!liteModel.getEditEnabled()">
                  <cn-reqn-view-input
                    ng-if="'yes' === model.viewModel.record.funding"
                    input="{
                      key: 'funding_filename',
                      title: t( 'part1.e.letter' ),
                      type: 'file'
                    }"
                    difference="model.viewModel.compareRecord.differences.part1.e.funding_filename"
                    model="liteModel">
                  </cn-reqn-view-input>
                </fieldset>
              </div>
            </fieldset></form>
          </div>
        </div>
        <div ng-show="'f'==model.viewModel.tab[1]" class="panel panel-default">
          <div class="panel-body">
            <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_1f"></cn-reqn-deferral-note>
            <p class="text-primary" ng-bind-html="t( 'part1.f.text' )"></p>
            <hr/>
            <form id="part1fForm" name="part1fForm" novalidate>
              <div class="form-horizontal">
                <fieldset ng-disabled="!model.getEditEnabled()">
                  <cn-reqn-view-input
                    input="{
                      key: 'ethics',
                      title: t( 'part1.f.ethics' ),
                      type: model.inputList.ethics.type,
                      enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                    }"
                    difference="model.viewModel.compareRecord.differences.part1.f.ethics"
                    model="model">
                  </cn-reqn-view-input>
                  <cn-reqn-view-input
                    ng-if="true === model.viewModel.record.ethics"
                    input="{
                      key: 'ethics_date',
                      title: t( 'part1.f.expiration' ),
                      type: model.inputList.ethics_date.type
                    }"
                    difference="model.viewModel.compareRecord.differences.part1.f.ethics_date"
                    model="model">
                  </cn-reqn-view-input>
                  <cn-reqn-view-input
                    ng-if="false === model.viewModel.record.ethics"
                    input="{
                      key: 'ethics_date',
                      title: t( 'part1.f.response' ),
                      type: model.inputList.ethics_date.type
                    }"
                    difference="model.viewModel.compareRecord.differences.part1.f.response"
                    model="model">
                  </cn-reqn-view-input>
                </fieldset>
                <fieldset ng-disabled="!liteModel.getEditEnabled()">
                  <cn-reqn-view-input
                    ng-if="true === model.viewModel.record.ethics"
                    input="{
                      key: 'ethics_filename',
                      title: t( 'part1.f.letter' ),
                      type: 'file'
                    }"
                    difference="model.viewModel.compareRecord.differences.part1.f.ethics_filename"
                    model="liteModel">
                  </cn-reqn-view-input>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="'part2'==model.viewModel.tab[0]" class="panel panel-default">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;" ng-bind-html="t( 'part2.title' )"></h4>
        <ul class="nav nav-tabs">
          <li ng-repeat="section in model.viewModel.tabSectionList"
              ng-if="'part2' == section[0]"
              ng-class="{'active':section[2] == model.viewModel.tab[2]}">
            <a ng-click="model.viewModel.setTab(2,section[2])"
               ng-class="{
                 'text-warning flashing':model.getEditEnabled() && model.viewModel.record['deferral_note_2'+section[2]],
                 'bg-warning': model.viewModel.compareRecord.differences.part2[section[2]].diff
               }"
               ng-bind-html="t( 'part2.'+section[2]+'.tab' )"></a>
          </li>
        </ul>
        <div ng-show="'notes'==model.viewModel.tab[2]" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body" style="padding-bottom: 0px;">
            <ul class="list-group">
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text1' )"></li>
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text2' )"></li>
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text3' )"></li>
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text4' )"></li>
            </ul>
          </div>
        </div>
        <div ng-show="'cohort'==model.viewModel.tab[2]" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body" style="padding-bottom: 0px;">
            <form ng-attr-id="part2CohortForm" ng-attr-name="part2CohortForm" novalidate>
              <p class="text-primary" ng-bind-html="t( 'part2.cohort.text1' )"></p>
              <div class="container-fluid form-horizontal">
                <fieldset ng-disabled="!model.getEditEnabled()">
                  <cn-reqn-view-input
                    no-cols=true
                    input="{
                      key: 'tracking',
                      title: t( 'part2.cohort.tracking' ),
                      type: model.inputList.tracking.type,
                      enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                    }"
                    difference="model.viewModel.compareRecord.differences.part2.cohort.tracking"
                    model="model">
                  </cn-reqn-view-input>
                  <cn-reqn-view-input
                    no-cols=true
                    input="{
                      key: 'comprehensive',
                      title: t( 'part2.cohort.comprehensive' ),
                      type: model.inputList.comprehensive.type,
                      enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                    }"
                    difference="model.viewModel.compareRecord.differences.part2.cohort.comprehensive"
                    model="model">
                  </cn-reqn-view-input>
                </fieldset>
              </div>
              <p class="text-primary" ng-bind-html="t( 'part2.cohort.text2' )"></p>
              <hr/>
              <div class="container-fluid form-horizontal">
                <fieldset ng-disabled="!model.getEditEnabled()">
                  <cn-reqn-view-input
                    no-cols=true
                    input="{
                      key: 'longitudinal',
                      title: t( 'part2.cohort.longitudinal' ),
                      type: model.inputList.longitudinal.type,
                      enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                    }"
                    difference="model.viewModel.compareRecord.differences.part2.cohort.longitudinal"
                    model="model">
                  </cn-reqn-view-input>
                  <cn-reqn-view-input
                    ng-if="model.viewModel.record.longitudinal"
                    no-cols=true
                    input="{
                      key: 'last_identifier',
                      title: t( 'part2.cohort.last_identifier' ),
                      type: model.inputList.last_identifier.type
                    }"
                    difference="model.viewModel.compareRecord.differences.part2.cohort.last_identifier"
                    model="model">
                  </cn-reqn-view-input>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
        <div ng-repeat="part in ['a','b','c','d','e']"
             ng-init="partIndex = $index"
             ng-show="part==model.viewModel.tab[2]"
             class="panel panel-default">
          <div class="panel-body">
            <form ng-attr-id="part2{{ part }}Form" ng-attr-name="part2{{ part }}Form" novalidate>
              <cn-reqn-deferral-note ng-if="model.getEditEnabled()" note="deferral_note_2{{ part }}"></cn-reqn-deferral-note>
              <div class="form-horizontal">
                <p ng-if="'d'==part" class="text-primary" ng-bind-html="t( 'part2.d.text' )"></p>
                <ul class="list-group" ng-if="'e'==part">
                  <li class="list-group-item">
                    <h4 ng-bind-html="t( 'part2.e.title1' )"></h4>
                    <div ng-bind-html="t( 'part2.e.text1' )"></div>
                  </li>
                  <li class="list-group-item">
                    <h4 ng-bind-html="t( 'part2.e.title2' )"></h4>
                    <div ng-bind-html="t( 'part2.e.text2' )"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="vertical-spacer" ng-bind-html="t( 'part2.e.text3' )"></div>
                  </li>
                </ul>
                <table class="table table-hover" ng-if="model.dataOptionCategoryList[partIndex].optionList.length">
                  <thead class="bg-info">
                    <tr>
                      <td width="33%"
                          style="vertical-align: middle;"
                          uib-tooltip-html="model.dataOptionCategoryList[partIndex].note[model.viewModel.record.lang] | cnNewlines"
                          tooltip-popup-delay="100">
                        {{ t( 'part2.' + part + '.module' ) }}<sup ng-if="model.dataOptionCategoryList[partIndex].note[model.viewModel.record.lang]">ⓘ</sup>
                      </td>
                      <td width="33%" style="vertical-align: middle;" ng-bind-html="t( 'misc.baseline' )"></td>
                      <td width="33%" style="vertical-align: middle;" ng-bind-html="t( 'misc.followup1' )"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat-start="dataOption in model.dataOptionCategoryList[partIndex].optionList">
                      <td data-toggle="collapse" data-target="#accordion{{ dataOption.id }}" style="vertical-align: middle">
                        <a uib-tooltip-html="dataOption.note[model.viewModel.record.lang] | cnNewlines"
                           tooltip-popup-delay="100">
                          <span style="text-decoration: underline">
                            {{ dataOption.name[model.viewModel.record.lang] }}
                          </span><sup ng-if="dataOption.note[model.viewModel.record.lang]">ⓘ</sup>
                        </a>
                      </td>
                      <td ng-if="dataOption.bl" ng-class="{ 'bg-warning': model.viewModel.compareRecord.differences.part2[part].baselineDataOptionList.findByProperty( 'id', dataOption.id ) }">
                        <button class="btn full-width"
                                ng-class="model.viewModel.record.dataOptionValueList.bl[dataOption.id] ?
                                  'btn-success' : 'btn-default'"
                                ng-disabled="!model.getEditEnabled()"
                                ng-click="model.viewModel.toggleDataOptionValue( 'bl', dataOption.id )">
                          <i class="glyphicon glyphicon-ok"
                             ng-if="model.viewModel.record.dataOptionValueList.bl[dataOption.id]"></i>
                          <span style="font-weight: normal"
                                ng-if="!model.viewModel.record.dataOptionValueList.bl[dataOption.id]"
                                ng-bind-html="t( 'misc.clickToSelect' )"></span>
                        </button>
                      </td>
                      <td ng-if="!dataOption.bl" ng-bind-html="t( 'misc.notAvailable' )"></td>
                      <td ng-if="dataOption.f1" ng-class="{ 'bg-warning': model.viewModel.compareRecord.differences.part2[part].followUp1DataOptionList.findByProperty( 'id', dataOption.id ) }">
                        <button class="btn full-width"
                                ng-class="model.viewModel.record.dataOptionValueList.f1[dataOption.id] ?
                                  'btn-success' : 'btn-default'"
                                ng-disabled="!model.getEditEnabled()"
                                ng-click="model.viewModel.toggleDataOptionValue( 'f1', dataOption.id )">
                          <i class="glyphicon glyphicon-ok"
                             ng-if="model.viewModel.record.dataOptionValueList.f1[dataOption.id]"></i>
                          <span style="font-weight: normal"
                                ng-if="!model.viewModel.record.dataOptionValueList.f1[dataOption.id]"
                                ng-bind-html="t( 'misc.clickToSelect' )"></span>
                        </button>
                      </td>
                      <td ng-if="!dataOption.f1">
                        <span style="line-height: 28px;">({{ t( 'c' == part && !dataOption.name.en.includes( 'Report' ) ? 'misc.notApplicable' : 'misc.notAvailable' ) }})</span>
                      </td>
                    </tr>
                    <tr ng-repeat-end data-toggle="collapse" data-target="#accordion{{ dataOption.id }}" style="background: white">
                      <td colspan="3">
                        <div id="accordion{{ dataOption.id }}" class="collapse text-primary text-left">
                          <div ng-repeat="detailCat in dataOption.detailCategoryList track by $index">
                            <div class="col-sm-2 vertical-spacer">{{ detailCat.name[model.viewModel.record.lang] }}</div>
                            <div class="col-sm-10 vertical-spacer">
                              <span ng-repeat="detail in detailCat.detailList"
                                    uib-tooltip-html="detail.note[model.viewModel.record.lang] | cnNewlines"
                                    tooltip-popup-delay="100">
                                {{ detail.name[model.viewModel.record.lang] }}<sup ng-if="detail.note[model.viewModel.record.lang]">ⓘ</sup>{{ $last ? '' : ';' }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr/>
                <div ng-if="'d'==part" class="container-fluid form-horizontal">
                  <fieldset ng-disabled="!model.getEditEnabled()">
                    <cn-reqn-view-input
                      no-cols=true
                      input="{
                        key: 'data_sharing_filename',
                        title: t( 'part2.d.data_sharing' ),
                        type: 'file'
                      }"
                      difference="model.viewModel.compareRecord.differences.part2.d.data_sharing_filename"
                      model="liteModel">
                    </cn-reqn-view-input>
                  </fieldset>
                  </fieldset>
                </div>
                <div class="container-fluid">
                  <cn-reqn-view-input
                    no-cols=true
                    input="{
                      key: 'part2_' + part + '_comment',
                      title: t( 'misc.comments' ),
                      type: model.inputList['part2_' + part + '_comment'].type
                    }"
                    difference="model.viewModel.compareRecord.differences.part2[part]['part2_' + part + '_comment']"
                    model="model">
                  </cn-reqn-view-input>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="'part3'==model.viewModel.tab[0]" class="panel panel-default">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;" ng-bind-html="t( 'part3.title' )"></h4>
        <p class="text-primary" ng-bind-html="t( 'part3.text' )"></p>
      </div>
    </div>
    <div ng-show="'agreement'==model.viewModel.tab[0]" class="panel panel-default" ng-if="model.viewModel.showAgreement()">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;">Agreement Details</h4>
        <form id="agreementForm" name="agreementForm" novalidate><fieldset ng-disabled="!model.getEditEnabled()">
          <div class="form-horizontal">
            <fieldset ng-disabled="!liteModel.getEditEnabled()">
              <div class="row allow-select">
                <label class="control-label col-sm-3">Changes since last agreement</label>
                <div class="row col-sm-9 form-text vertical-spacer">
                  <div ng-if="0 == model.viewModel.agreementDifferenceList.length">None</div>
                  <ul style="padding-left: 1em;" ng-if=" 0 < model.viewModel.agreementDifferenceList.length">
                    <li ng-repeat="difference in model.viewModel.agreementDifferenceList">{{
                      ( difference.type ? difference.type + ' ' : '' ) +
                      '"' + difference.name + '" has been ' +
                      ( difference.diff ? difference.diff : 'changed from ' + difference.old + ' to ' + difference.new )
                    }}</li>
                  </ul>
                </div>
              </div>
              <cn-reqn-view-input
                input="{
                  key: 'agreement_filename',
                  title: 'Agreement File',
                  type: 'file'
                }"
                model="liteModel">
              </cn-reqn-view-input>
            </fieldset>
          </div>
        </fieldset></form>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info" style="height:4.6em;">
    <button class="btn btn-primary pull-left"
            ng-if="'instructions' != model.viewModel.tab[0]"
            ng-click="model.viewModel.nextSection( true )"
            ng-bind-html="'<i class=\'glyphicon glyphicon-arrow-left\'></i> ' + t( 'misc.prevButton' )">
    </button>
    <button class="btn btn-primary"
            ng-if="'part3' != model.viewModel.tab[0]"
            ng-click="model.viewModel.nextSection( false )"
            ng-bind-html="t( 'misc.nextButton' ) + ' <i class=\'glyphicon glyphicon-arrow-right\'></i>'">
    </button>
  </div>
</div>
