<?php
/**
 * settings.local.ini.php
 *
 * Defines local initialization settings for magnolia, overriding default settings found in
 * settings.ini.php
 */

global $SETTINGS;

// the file path to the framework and application
$SETTINGS['path']['CENOZO'] = '/path/to/cenozo';

// the path to the log file
$SETTINGS['path']['LOG_FILE'] = $SETTINGS['path']['APPLICATION'].'/log';

// database settings (the driver, server and prefixes are set in the framework's settings)
$SETTINGS['db']['username'] = 'put your database username here';
$SETTINGS['db']['password'] = 'put your database password here';

// the minimum number of months from the present day that a new requiesition's start date can be
$SETTINGS['general']['new_requisition_delay'] = 5;

// the location of uploaded ethics letter (defaults to magnolia/doc/ethics_letter)
$SETTINGS['path']['ETHICS_LETTER'] = '/path/to/deployment/reports';

// how many months past a requisition's deadline must its start date be?
$SETTINGS['general']['start_date_delay'] = 5;
