<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <button class="btn btn-menu btn-header btn-info pull-right"
              style="margin-top:-4px;"
              ng-click="language = 'en'==language ? 'fr' : 'en'">
        {{ 'en'==language ? 'Version Française' : 'English Version' }}
      </button>
      <span ng-bind-html="t( 'heading' )"></span>
    </h4>
  </div>
  <div class="container-fluid" style="margin-top: 1em;">
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{'active':'instructions'==tab}">
        <a ng-click="tab='instructions'" ng-bind-html="t( 'instructions.tab' )"></a>
      </li>
      <li ng-class="{'active':'part1'==tab}">
        <a ng-click="tab='part1'" ng-bind-html="t( 'part1.tab' )"></a>
      </li>
      <li ng-class="{'active':'part2'==tab}">
        <a ng-click="tab='part2'" ng-bind-html="t( 'part2.tab' )"></a>
      </li>
      <li ng-class="{'active':'part3'==tab}">
        <a ng-click="tab='part3'" ng-bind-html="t( 'part3.tab' )"></a>
      </li>
    </ul>
    <div ng-if="'instructions'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 ng-bind-html="t( 'instructions.title' )"></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-bind-html="t( 'instructions.text1' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text2' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text3' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text4' )"></li>
        </ul>
      </div>
    </div>
    <div ng-if="'part1'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;" ng-bind-html="t( 'part1.title' )"></h4>
        <ul class="nav nav-tabs">
          <li ng-class="{'active':'a1' == part1Tab}">
            <a ng-click="part1Tab='a1'" ng-bind-html="t( 'part1.a1.tab' )"></a>
          </li>
          <li ng-class="{'active':'a2' == part1Tab}">
            <a ng-click="part1Tab='a2'" ng-bind-html="t( 'part1.a2.tab' )"></a>
          </li>
          <li ng-class="{'active':'a3' == part1Tab}">
            <a ng-click="part1Tab='a3'" ng-bind-html="t( 'part1.a3.tab' )"></a>
          </li>
          <li ng-class="{'active':'a4' == part1Tab}">
            <a ng-click="part1Tab='a4'" ng-bind-html="t( 'part1.a4.tab' )"></a>
          </li>
          <li ng-class="{'active':'a5' == part1Tab}">
            <a ng-click="part1Tab='a5'" ng-bind-html="t( 'part1.a5.tab' )"></a>
          </li>
          <li ng-class="{'active':'a6' == part1Tab}">
            <a ng-click="part1Tab='a6'" ng-bind-html="t( 'part1.a6.tab' )"></a>
          </li>
          <li ng-class="{'active':'a7' == part1Tab}">
            <a ng-click="part1Tab='a7'" ng-bind-html="t( 'part1.a7.tab' )"></a>
          </li>
        </ul>
        <div ng-if="'a1'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary" ng-bind-html="t( 'part1.a1.text1' )"></p>
            <p class="text-primary" ng-bind-html="t( 'part1.a1.text2' )"></p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.name' )"></label>
                <div class="col-sm-9">
                  <input id="name" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="position" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.position' )"></label>
                <div class="col-sm-9">
                  <input id="position" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="affiliation" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.affiliation' )"></label>
                <div class="col-sm-9">
                  <input id="affiliation" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.address' )"></label>
                <div class="col-sm-9">
                  <textarea id="address" cn-elastic class="form-control" type="text"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="phone" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.phone' )"></label>
                <div class="col-sm-9">
                  <input id="phone" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.email' )"></label>
                <div class="col-sm-9">
                  <input id="email" class="form-control" type="email"></input>
                </div>
              </div>
            </div>
            <hr/>
            <p class="text-primary" ng-bind-html="t( 'part1.a1.text3' )"></p>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="graduate_name" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.graduate_name' )"></label>
                <div class="col-sm-9">
                  <input id="graduate_name" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_position" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.graduate_program' )"></label>
                <div class="col-sm-9">
                  <input id="graduate_position" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_affiliation" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.graduate_affiliation' )"></label>
                <div class="col-sm-9">
                  <input id="graduate_affiliation" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_address" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.graduate_address' )"></label>
                <div class="col-sm-9">
                  <textarea id="graduate_address" cn-elastic class="form-control" type="text"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_phone" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.graduate_phone' )"></label>
                <div class="col-sm-9">
                  <input id="graduate_phone" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_email" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a1.graduate_email' )"></label>
                <div class="col-sm-9">
                  <input id="graduate_email" class="form-control" type="email"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'a2'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary" ng-bind-html="t( 'part1.a2.text' )"></p>
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-striped rounded">
                  <thead class="bg-info">
                    <tr>
                      <td ng-bind-html="t( 'part1.a2.name' )"></td>
                      <td ng-bind-html="t( 'part1.a2.position' )"></td>
                      <td ng-bind-html="t( 'part1.a2.affiliation' )"></td>
                      <td ng-bind-html="t( 'part1.a2.email' )"></td>
                      <td ng-bind-html="t( 'part1.a2.role' )"></td>
                      <td ng-bind-html="t( 'part1.a2.access' )"></td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jane Doe</td>
                      <td>Professor</td>
                      <td>Dalhousie University</td>
                      <td>jane@doe.ca</td>
                      <td>Co-Applicant</td>
                      <td>Yes</td>
                      <td>
                        <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Joe Shmoe</td>
                      <td>Assistant Professor</td>
                      <td>McMaster University</td>
                      <td>joe@shmoe.ca</td>
                      <td>Statistician</td>
                      <td>Yes</td>
                      <td>
                        <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="coapplicant_name" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a2.name' )"></label>
                <div class="col-sm-9">
                  <input id="coapplicant_name" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_position" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a2.position' )"></label>
                <div class="col-sm-9">
                  <input id="coapplicant_position" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_affiliation" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a2.affiliation' )"></label>
                <div class="col-sm-9">
                  <input id="coapplicant_affiliation" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_email" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a2.email' )"></label>
                <div class="col-sm-9">
                  <input id="coapplicant_email" class="form-control" type="email"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_role" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a2.role' )"></label>
                <div class="col-sm-9">
                  <input id="coapplicant_role" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_access" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a2.access' )"></label>
                <div class="col-sm-9">
                  <select id="coapplicant_access" class="form-control">
                    <option ng-bind-html="t( 'misc.choose' )"></option>
                    <option ng-bind-html="t( 'misc.yes' )"></option>
                    <option ng-bind-html="t( 'misc.no' )"></option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary pull-right" ng-bind-html="t( 'misc.add' )"></button>
            </div>
          </div>
        </div>
        <div ng-if="'a3'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary" ng-bind-html="t( 'part1.a3.text' )"></p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="start_date" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a3.start' )"></label>
                <div class="col-sm-9">
                  <input id="start_date" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="duration" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a3.duration' )"></label>
                <div class="col-sm-9">
                  <input id="duration" class="form-control" type="text"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'a4'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary" ng-bind-html="t( 'part1.a4.text1' )"></p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="title" class="col-sm-3 control-label" ng-bind-html="t( 'part1.a4.title' )"></label>
                <div class="col-sm-9">
                  <input id="title" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="title"
                       class="col-sm-3 control-label"
                       uib-tooltip-html="t( 'part1.a4.keywordsText' )"
                       tooltip-placement="right"
                       tooltip-popup-delay="100"
                       ng-bind-html="t( 'part1.a4.keywords' )+'<sup>***</sup>'"></label>
                <div class="col-sm-9">
                  <input id="title" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="lay_summary"
                       class="col-sm-3 control-label"
                       uib-tooltip-html="t( 'part1.a4.laySummaryText' )"
                       tooltip-placement="right"
                       tooltip-popup-delay="100">
                  <span ng-bind-html="t( 'part1.a4.laySummary' )+'<sup>***</sup>'"></span><br/>
                  (<span ng-bind-html="t( 'misc.wordCount' )"></span>: 123)
                </label>
                <div class="col-sm-9">
                  <textarea id="lay_summary" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <hr/>
              <p class="text-primary" ng-bind-html="t( 'part1.a4.text2' )"></p>
              <div class="form-group">
                <label for="wordCount" class="col-sm-3 control-label"
                       ng-bind-html="t( 'misc.wordCount' )"></label>
                <div class="col-sm-9">
                  <p class="form-text text-primary">60</p>
                </div>
              </div>
              <div class="form-group">
                <label for="background" class="col-sm-3 control-label">
                  <span ng-bind-html="t( 'part1.a4.background' )"></span><br/>
                  (<span ng-bind-html="t( 'misc.wordCount' )"></span>: 10)
                </label>
                <div class="col-sm-9">
                  <textarea id="background" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="objectives" class="col-sm-3 control-label">
                  <span ng-bind-html="t( 'part1.a4.objectives' )"></span><br/>
                  (<span ng-bind-html="t( 'misc.wordCount' )"></span>: 20)
                </label>
                <div class="col-sm-9">
                  <textarea id="objectives" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="methodology"
                       class="col-sm-3 control-label"
                       uib-tooltip-html="t( 'part1.a4.designText' )"
                       tooltip-placement="right"
                       tooltip-popup-delay="100">
                  <span ng-bind-html="t( 'part1.a4.design' )+'<sup>***</sup>'"></span><br/>
                  (<span ng-bind-html="t( 'misc.wordCount' )"></span>: 30)
                </label>
                <div class="col-sm-9">
                  <textarea id="methodology" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="analysis"
                       class="col-sm-3 control-label"
                       uib-tooltip-html="t( 'part1.a4.analysisText' )"
                       tooltip-placement="right"
                       tooltip-popup-delay="100">
                  <span ng-bind-html="t( 'part1.a4.analysis' )+'<sup>***</sup>'"></span><br/>
                  (<span ng-bind-html="t( 'misc.wordCount' )"></span>: 0)
                </label>
                <div class="col-sm-9">
                  <textarea id="analysis" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <hr/>
              <p class="text-primary" ng-bind-html="t( 'part1.a4.text3' )"></p>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped rounded">
                    <thead class="bg-info">
                      <tr>
                        <td ng-bind-html="t( 'part1.a4.number' )"></td>
                        <td ng-bind-html="t( 'part1.a4.reference' )"></td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td class="text-left">
                          New Canadian physical activity guidelines. Tremblay, MS and al., et. Appl Physiol Nutr Metab, 2011, Vol. 36, 
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td class="text-left">
                          Physical activity in US: adults compliance with the Physical Activity Guidelines for Americans. Tucker, J and al., et. 4, Am J Prev Med, 2011, Vol. 40, pp. 454-61.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td class="text-left">
                          World Health Organization. WHO global recommendation on physical activity for health. [Online] 2010. http://www.who.int/dietphysicalactivity/factsheet_reccommendations/en 
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td class="text-left">
                          A systematic review of the evidence for Canada's Physical Activity Guidelines for Adults. Warburton, D and al., et. 1, Int J Behav Nutr Phys Act, 2010, Vol. 7, p. 39
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td class="text-left">
                          Physical activity and fuctional limitations in older adults: a systematic review related to Canada's Physical Activity Guidelines. Paterson, D and al., et. 1, Int J Behav Nutr Phys Act, 2010, Vol. 7, p. 38.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td class="text-left">
                          Cardiovascular benefits and risks across the physical activity continuum. Eijsvigels, T and al., et. 5, Curr Opin Cardiol, 2016, Vol. 31, pp. 566-71.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td class="text-left">
                          Sitting time and mortality from all causes , cardiovascular disease, and cancer. Katzmarzyk, P and al., et. 5, Med Sci Sport Exerc, 2009, Vol. 41, pp. 998-1005.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td class="text-left">
                          Leisure time spent sitting in relation to total mortality in a prospective chort of US adults. Patel, A and al., et. 4, Am J Epidemiol, 2010, Vol. 172,
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="{{ t( 'misc.remove' ) }}">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div>
                <label for="reference" class="col-sm-2 control-label"
                       ng-bind-html="t( 'part1.a4.reference' )"></label>
                <div class="col-sm-8">
                  <input id="reference" class="form-control" type="text"></input>
                </div>
                <button class="btn btn-primary col-sm-2" ng-bind-html="t( 'misc.add' )"></button>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'a5'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary" ng-bind-html="t( 'part1.a5.text' )"></p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="funding" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a5.funding' )"></label>
                <div class="col-sm-9">
                  <select id="funding" class="form-control">
                    <option ng-bind-html="t( 'misc.choose' )"></option>
                    <option ng-bind-html="t( 'misc.yes' )"></option>
                    <option ng-bind-html="t( 'misc.no' )"></option>
                    <option ng-bind-html="t( 'misc.requested' )"></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="funding_agency" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a5.agency' )"></label>
                <div class="col-sm-9">
                  <input id="funding_agency" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="grant_number" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a5.grant' )"></label>
                <div class="col-sm-9">
                  <input id="grant_number" class="form-control" type="text"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'a6'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary" ng-bind-html="t( 'part1.a6.text' )"></p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="ethics" class="col-sm-4 control-label"
                       ng-bind-html="t( 'part1.a6.approval' )"></label>
                <div class="col-sm-8">
                  <select id="ethics" class="form-control" ng-model="ethics">
                    <option value="" ng-bind-html="t( 'misc.choose' )"></option>
                    <option value="yes" ng-bind-html="t( 'misc.yes' )"></option>
                    <option value="no" ng-bind-html="t( 'misc.no' )"></option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-if="'yes'==ethics">
                <label for="ethics_date" class="col-sm-4 control-label"
                       ng-bind-html="t( 'part1.a6.letter' )"></label>
                <div class="col-sm-8">
                  <input id="ethics_date" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group" ng-if="'no'==ethics">
                <label for="ethics_date" class="col-sm-4 control-label"
                       ng-bind-html="t( 'part1.a6.response' )"></label>
                <div class="col-sm-8">
                  <input id="ethics_date" class="form-control" type="text"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'a7'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary" ng-bind-html="t( 'part1.a7.text' )"></p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="waiver" class="col-sm-3 control-label"
                       ng-bind-html="t( 'part1.a7.type' )"></label>
                <div class="col-sm-9">
                  <select id="waiver" class="form-control">
                    <option ng-bind-html="t( 'part1.a7.none' )"></option>
                    <option ng-bind-html="t( 'part1.a7.graduate' )"></option>
                    <option ng-bind-html="t( 'part1.a7.postdoc' )"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="'part2'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;" ng-bind-html="t( 'part2.title' )"></h4>
        <ul class="nav nav-tabs">
          <li ng-class="{'active':'notes'==part2Tab}">
            <a ng-click="part2Tab='notes'" ng-bind-html="t( 'part2.notes.tab' )"></a>
          </li>
          <li ng-class="{'active':'a'==part2Tab}">
            <a ng-click="part2Tab='a'" ng-bind-html="t( 'part2.a.tab' )"></a>
          </li>
          <li ng-class="{'active':'b'==part2Tab}">
            <a ng-click="part2Tab='b'" ng-bind-html="t( 'part2.b.tab' )"></a>
          </li>
          <li ng-class="{'active':'c'==part2Tab}">
            <a ng-click="part2Tab='c'" ng-bind-html="t( 'part2.c.tab' )"></a>
          </li>
        </ul>
        <div ng-if="'notes'==part2Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body" style="padding-bottom: 0px;">
            <ul class="list-group">
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text1' )"></li>
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text2' )"></li>
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text3' )"></li>
              <li class="list-group-item" ng-bind-html="t( 'part2.notes.text4' )"></li>
            </ul>
          </div>
        </div>
        <div ng-if="'a'==part2Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="qnaire" class="col-sm-9 control-label"
                       ng-bind-html="t( 'part2.a.question' )"></label>
                <div class="col-sm-3">
                  <input id="qnaire" class="form-control" ng-model="qnaire" type="checkbox"></input>
                </div>
              </div>
              <table class="table table-striped rounded" ng-if="qnaire">
                <thead class="bg-info">
                  <tr>
                    <td ng-bind-html="t( 'part2.a.module' )"></td>
                    <td ng-bind-html="t( 'part2.a.tracking' )"></td>
                    <td ng-bind-html="t( 'part2.a.comprehensive' )"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="qnaire in model.addModel.qnaireList">
                    <td>
                      <span uib-tooltip-html="qnaire.note" tooltip-popup-delay="100">
                        {{ qnaire.name }}
                        <sup ng-if="qnaire.note">***</sup>
                      </span>
                    </td>
                    <td ng-if="qnaire.tracking_replacement">{{ qnaire.tracking_replacement }}</td>
                    <td ng-if="!qnaire.tracking_replacement">
                      <input type="checkbox"></input>
                    </td>
                    <td ng-if="qnaire.comprehensive_replacement">{{ qnaire.comprehensive_replacement }}</td>
                    <td ng-if="!qnaire.comprehensive_replacement">
                      <input type="checkbox"></input>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="spacer" ng-if="qnaire">
                <label for="qnaire_comments" class="control-label"
                       ng-bind-html="t( 'misc.comments' )"></label>
                <textarea id="qnaire_comments" cn-elastic class="form-control" type="text"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'b'==part2Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="physical" class="col-sm-9 control-label"
                       ng-bind-html="t( 'part2.b.question' )"></label>
                <div class="col-sm-3">
                  <input id="physical" class="form-control" ng-model="physical" type="checkbox"></input>
                </div>
              </div>
              <table class="table table-striped rounded" ng-if="physical">
                <thead class="bg-info">
                  <tr>
                    <td ng-bind-html="t( 'part2.b.physical' )"></td>
                    <td ng-bind-html="t( 'part2.b.subcategory' )"></td>
                    <td ng-bind-html="t( 'part2.b.data' )"></td>
                    <td ng-bind-html="t( 'part2.b.image' )"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="physical in model.addModel.physicalList">
                    <td>
                      <span uib-tooltip="{{ physical.note }}" tooltip-popup-delay="100">
                        {{ physical.name }}
                        <sup ng-if="physical.note">***</sup>
                      </span>
                    </td>
                    <td ng-if="physical.data_replacement">{{ physical.data_replacement }}</td>
                    <td ng-if="!physical.data_replacement">
                      <input type="checkbox"></input>
                    </td>
                    <td ng-if="physical.image_replacement">{{ physical.image_replacement }}</td>
                    <td ng-if="!physical.image_replacement">
                      <input type="checkbox"></input>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="spacer" ng-if="physical">
                <label for="physical_comments" class="control-label"
                       ng-bind-html="t( 'misc.comments' )"></label>
                <textarea id="physical_comments" cn-elastic class="form-control" type="text"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'c'==part2Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="biomarker" class="col-sm-9 control-label"
                       ng-bind-html="t( 'part2.c.question' )"></label>
                <div class="col-sm-3">
                  <input id="biomarker" class="form-control" ng-model="biomarker" type="checkbox"></input>
                </div>
              </div>
              <table class="table table-striped rounded" ng-if="biomarker">
                <thead class="bg-info">
                  <tr>
                    <td ng-bind-html="t( 'part2.c.hematology' )"></td>
                    <td ng-bind-html="t( 'part2.c.data' )"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="biomarker in model.addModel.biomarkerList">
                    <td>
                      <span uib-tooltip="{{ biomarker.note }}" tooltip-popup-delay="100">
                        {{ biomarker.name }}
                        <sup ng-if="biomarker.note">***</sup>
                      </span>
                    </td>
                    <td><input type="checkbox"></input></td>
                  </tr>
                </tbody>
              </table>
              <div class="spacer" ng-if="biomarker">
                <label for="biomarker_comments" class="control-label"
                       ng-bind-html="t( 'misc.comments' )"></label>
                <textarea id="biomarker_comments" cn-elastic class="form-control" type="text"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="'part3'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;" ng-bind-html="t( 'part3.title' )"></h4>
        <p class="text-primary" ng-bind-html="t( 'part3.text' )"></p>
      </div>
    </div>
  </div>
</div>
