<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>Data and Biospecimen Request Application</h4>
  </div>
  <div class="container-fluid" style="margin-top: 1em;">
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{'active':'instructions'==tab}"><a ng-click="tab='instructions'">Instructions</a></li>
      <li ng-class="{'active':'part1'==tab}"><a ng-click="tab='part1'">Part 1</a></li>
      <li ng-class="{'active':'part2'==tab}"><a ng-click="tab='part2'">Part 2</a></li>
      <li ng-class="{'active':'part3'==tab}"><a ng-click="tab='part3'">Part 3</a></li>
    </ul>
    <div ng-if="'instructions'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4>Instructions for completing an application</h4>
        <ul class="list-group">
          <li class="list-group-item">
            Please consult the CLSA website for instructions, and policies and procedures for CLSA data and
            biospecimen access: <a href="www.clsa-elcv.ca" target="clsa-website">www.clsa-elcv.ca</a> (Data
            Access).
            Applicants are also encouraged to review the pertinent sections of the relevant CLSA protocol(s),
            Data Collection Tools and Physical Assessments in advance of completing the application.
            Additional information on the variables in the CLSA dataset is on the CLSA Data Preview Portal.
          </li>
          <li class="list-group-item">
            Consult us for any questions regarding your application at
            <a href="mailto:access@clsa-elcv.ca">access@clsa-elcv.ca</a>.
          </li>
          <li class="list-group-item">
            The application is composed of 3 parts. Part 1: General Project Information; Part 2: Data Checklist;
            Part 3: Biospecimen Checklist.
          </li>
          <li class="list-group-item">
            Please ensure that you have completed all of the sections of the application form that are relevant
            to your application. Incomplete applications may result in processing delays or refusal of your
            application.
          </li>
        </ul>
      </div>
    </div>
    <div ng-if="'part1'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;">Application Part 1 of 3: General Project Information</h4>
        <ul class="nav nav-tabs">
          <li ng-class="{'active':'applicant'==part1Tab}">
            <a ng-click="part1Tab='applicant'">A1. Applicant</a>
          </li>
          <li ng-class="{'active':'team'==part1Tab}">
            <a ng-click="part1Tab='team'">A2. Project Team</a>
          </li>
          <li ng-class="{'active':'timeline'==part1Tab}">
            <a ng-click="part1Tab='timeline'">A3. Timeline</a>
          </li>
          <li ng-class="{'active':'description'==part1Tab}">
            <a ng-click="part1Tab='description'">A4. Description</a>
          </li>
          <li ng-class="{'active':'review'==part1Tab}">
            <a ng-click="part1Tab='review'">A5. Scientific Review</a>
          </li>
          <li ng-class="{'active':'ethics'==part1Tab}">
            <a ng-click="part1Tab='ethics'">A6. Ethics</a>
          </li>
          <li ng-class="{'active':'waiver'==part1Tab}">
            <a ng-click="part1Tab='waiver'">A7. Fee Waiver</a>
          </li>
        </ul>
        <div ng-if="'applicant'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary">
              <strong>Primary Applicant / Demandeur principal:</strong>
              The primary applicant will be the contact person for the CLSA Access Agreement as well as for
              the data release and any relevant updates.
            </p> 
            <p class="text-primary">
              For <strong>Graduate student</strong> (MSc, PhD) applications, the primary applicant must be the
              supervisor and the student must be clearly identified.
              Postdoctoral Fellows are permitted to apply as a primary applicant, but the application must be
              co-signed by their supervisor (see sections A7).
              If requesting a Fee Waiver, the Postdoctoral Fellow must be listed as the primary applicant.
            </p> 
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input id="name" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="position" class="col-sm-3 control-label">Position</label>
                <div class="col-sm-9">
                  <input id="position" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="affiliation" class="col-sm-3 control-label">Affiliation</label>
                <div class="col-sm-9">
                  <input id="affiliation" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="col-sm-3 control-label">Mailing Address</label>
                <div class="col-sm-9">
                  <textarea id="address" cn-elastic class="form-control" type="text"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-9">
                  <input id="phone" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-3 control-label">E-mail</label>
                <div class="col-sm-9">
                  <input id="email" class="form-control" type="email"></input>
                </div>
              </div>
            </div>
            <hr/>
            <p class="text-primary">
              <strong>
                Complete this section if this is a Graduate student or Postdoctoral Fellow application (if
                Fellow is not the primary applicant)
              </strong>
            </p>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="graduate_name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input id="graduate_name" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_position" class="col-sm-3 control-label">Degree and Program of Study</label>
                <div class="col-sm-9">
                  <input id="graduate_position" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_affiliation" class="col-sm-3 control-label">Institution of Enrollment</label>
                <div class="col-sm-9">
                  <input id="graduate_affiliation" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_address" class="col-sm-3 control-label">Current Mailing Address</label>
                <div class="col-sm-9">
                  <textarea id="graduate_address" cn-elastic class="form-control" type="text"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_phone" class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-9">
                  <input id="graduate_phone" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="graduate_email" class="col-sm-3 control-label">E-mail</label>
                <div class="col-sm-9">
                  <input id="graduate_email" class="form-control" type="email"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'team'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary">
              All Co-Applicants and Other Personnel must be listed in the table below.
              Please note that changes to the project team, including change of Primary Applicant and addition
              or removal of Co-Applicants and Support Personnel <strong>require an amendment</strong>.
              To request an Amendment Form, please email
              <a href="mailto:access@clsa-elcv.ca">access@clsa-elcv.ca</a>.
            </p>
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-striped rounded">
                  <thead class="bg-info">
                    <tr>
                      <td>Name</td>
                      <td>Position</td>
                      <td>Affiliation</td>
                      <td>E-mail</td>
                      <td>Role on Project</td>
                      <td>Requires Access</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jane Doe</td>
                      <td>Professor</td>
                      <td>Dalhousie University</td>
                      <td>jane@doe.ca</td>
                      <td>Co-Applicant</td>
                      <td>Yes</td>
                      <td>
                        <button class="btn btn-xs btn-danger" uib-tooltip="Remove Co-Applicant">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>Joe Shmoe</td>
                      <td>Assistant Professor</td>
                      <td>McMaster University</td>
                      <td>joe@shmoe.ca</td>
                      <td>Statistician</td>
                      <td>Yes</td>
                      <td>
                        <button class="btn btn-xs btn-danger" uib-tooltip="Remove Co-Applicant">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="coapplicant_name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input id="coapplicant_name" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_position" class="col-sm-3 control-label">Position</label>
                <div class="col-sm-9">
                  <input id="coapplicant_position" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_affiliation" class="col-sm-3 control-label">Affiliation</label>
                <div class="col-sm-9">
                  <input id="coapplicant_affiliation" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_email" class="col-sm-3 control-label">E-mail</label>
                <div class="col-sm-9">
                  <input id="coapplicant_email" class="form-control" type="email"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_role" class="col-sm-3 control-label">Role on Project</label>
                <div class="col-sm-9">
                  <input id="coapplicant_role" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="coapplicant_access" class="col-sm-3 control-label">Requires Access to Data</label>
                <div class="col-sm-9">
                  <select id="coapplicant_access" class="form-control">
                    <option>(choose one)</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary pull-right">Add Co-Applicant</button>
            </div>
          </div>
        </div>
        <div ng-if="'timeline'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary">
              What is the anticipated time frame for this proposed project?
              In planning for your project, please consider in your time frame at least five (5) months from
              the application submission deadline to the time you receive your dataset.
            </p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="start_date" class="col-sm-3 control-label">
                  Anticipated <strong>start</strong> date
                </label>
                <div class="col-sm-9">
                  <input id="start_date" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="duration" class="col-sm-3 control-label">Proposed project duration</label>
                <div class="col-sm-9">
                  <input id="duration" class="form-control" type="text"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'description'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary">
              Please adhere to word count and page limits.
            </p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Project Title</label>
                <div class="col-sm-9">
                  <input id="title" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Keywords</label>
                <div class="col-sm-9">
                  <p class="text-primary">
                    Please provide 3-5 keywords describing your project.
                  </p>
                  <input id="title" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="lay_summary" class="col-sm-3 control-label">
                  Lay Summary<br/>
                  (word count: 123)
                </label>
                <div class="col-sm-9">
                  <p class="text-primary">
                    Please provide a lay language summary of your project (maximum 150 words) suitable for
                    posting on the CLSA website if your application is approved.
                    Please ensure that the lay summary provides a stand-alone, informative description of
                    your project.
                  </p>
                  <textarea id="lay_summary" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <hr/>
              <p class="text-primary">
                Please provide a description of the proposed project.
                The proposal should be informative and specific and no more than 3 pages.
                No additional pages or appendices allowed.
                Non-compliant applications will be returned.
              </p>
              <div class="form-group">
                <label for="background" class="col-sm-3 control-label">Background and Study Relevance</label>
                <div class="col-sm-9">
                  <textarea id="background" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="objectives" class="col-sm-3 control-label">Study Objectives and/or Hypotheses</label>
                <div class="col-sm-9">
                  <textarea id="objectives" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="methodology" class="col-sm-3 control-label">Study Design and Methodology</label>
                <div class="col-sm-9">
                  <p class="text-primary">
                    The study design and methodology including an overview of the variables and/or
                    biospecimens requested for the project.
                    In no more than half a page, describe the inclusion and exclusion criteria for
                    participants to be included in your study (e.g., age, sex, etc.).
                  </p>
                  <textarea id="methodology" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="analysis" class="col-sm-3 control-label">Data Analysis</label>
                <div class="col-sm-9">
                  <p class="text-primary">
                    Brief description of the data analysis proposed (this section should include
                    justification for the sample size requested).
                    Requests for small subsets of the study participants must be justified.
                  </p>
                  <textarea id="analysis" cn-elastic class="form-control"></textarea>
                </div>
              </div>
              <hr/>
              <p class="text-primary">
                Please include a list of the most relevant references (must fit within the allotted space
                on this page only).
              </p>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped rounded">
                    <thead class="bg-info">
                      <tr>
                        <td>Number</td>
                        <td>Reference</td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td class="text-left">
                          New Canadian physical activity guidelines. Tremblay, MS and al., et. Appl Physiol Nutr Metab, 2011, Vol. 36, 
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td class="text-left">
                          Physical activity in US: adults compliance with the Physical Activity Guidelines for Americans. Tucker, J and al., et. 4, Am J Prev Med, 2011, Vol. 40, pp. 454-61.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td class="text-left">
                          World Health Organization. WHO global recommendation on physical activity for health. [Online] 2010. http://www.who.int/dietphysicalactivity/factsheet_reccommendations/en 
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td class="text-left">
                          A systematic review of the evidence for Canada's Physical Activity Guidelines for Adults. Warburton, D and al., et. 1, Int J Behav Nutr Phys Act, 2010, Vol. 7, p. 39
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td class="text-left">
                          Physical activity and fuctional limitations in older adults: a systematic review related to Canada's Physical Activity Guidelines. Paterson, D and al., et. 1, Int J Behav Nutr Phys Act, 2010, Vol. 7, p. 38.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td class="text-left">
                          Cardiovascular benefits and risks across the physical activity continuum. Eijsvigels, T and al., et. 5, Curr Opin Cardiol, 2016, Vol. 31, pp. 566-71.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td class="text-left">
                          Sitting time and mortality from all causes , cardiovascular disease, and cancer. Katzmarzyk, P and al., et. 5, Med Sci Sport Exerc, 2009, Vol. 41, pp. 998-1005.
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td class="text-left">
                          Leisure time spent sitting in relation to total mortality in a prospective chort of US adults. Patel, A and al., et. 4, Am J Epidemiol, 2010, Vol. 172,
                        </td>
                        <td>
                          <button class="btn btn-xs btn-danger" uib-tooltip="Remove Reference">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div>
                <label for="reference" class="col-sm-2 control-label">Reference</label>
                <div class="col-sm-8">
                  <input id="reference" class="form-control" type="text"></input>
                </div>
                <button class="btn btn-primary col-sm-2">Add Reference</button>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'review'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary">
              Evidence of peer reviewed funding will be considered evidence of scientific review.
              If there are no plans to submit an application for financial support for this project please
              provide evidence of peer review (e.g. internal departmental review, thesis protocol defense,
              etc.) if available.
              If no evidence of scientific peer review is provided with this application then the project
              will undergo scientific review by the DSAC.
            </p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="funding" class="col-sm-3 control-label">Peer Reviewed Funding</label>
                <div class="col-sm-9">
                  <select id="funding" class="form-control">
                    <option>(choose one)</option>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Requested</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="funding_agency" class="col-sm-3 control-label">Funding Agency</label>
                <div class="col-sm-9">
                  <input id="funding_agency" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="grant_number" class="col-sm-3 control-label">Grant Number</label>
                <div class="col-sm-9">
                  <input id="grant_number" class="form-control" type="text"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'ethics'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary">
              Please note that ethics approval is NOT required at the time of this application, but
              <strong>
                no data or biospecimens will be released until proof of ethics approval has been
                received by the CLSA.
              </strong>
            </p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="ethics" class="col-sm-4 control-label">
                  Has this project received ethics approval?
                </label>
                <div class="col-sm-8">
                  <select id="ethics" class="form-control" ng-model="ethics">
                    <option value="">(choose one)</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-if="'yes'==ethics">
                <label for="ethics_date" class="col-sm-4 control-label">
                  Digital copy of ethics approval letter
                </label>
                <div class="col-sm-8">
                  <input id="ethics_date" class="form-control" type="text"></input>
                </div>
              </div>
              <div class="form-group" ng-if="'no'==ethics">
                <label for="ethics_date" class="col-sm-4 control-label">Expected date of response</label>
                <div class="col-sm-8">
                  <input id="ethics_date" class="form-control" type="text"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="'waiver'==part1Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <p class="text-primary">
              In order to be eligible for the Fee Waiver for Graduate students, the application must clearly
              indicate that the proposed project forms part of a thesis (see section A1).
              In order to be eligible for the Fee Waiver for Postdoctoral Fellows, the Fellow must be the
              primary applicant and the supervisor must sign section A8.
            </p>
            <hr/>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="waiver" class="col-sm-3 control-label">Fee Waiver type</label>
                <div class="col-sm-9">
                  <select id="waiver" class="form-control">
                    <option>None</option>
                    <option>Fee Waiver for Graduate student (MSc or PhD) for thesis only</option>
                    <option>Fee Waiver for Postdoctoral Fellow (limit 1 waiver for postdoctoral studies)</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="'part2'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 style="margin-top: 0; margin-bottom: 1em;">Application Part 1 of 3: General Project Information</h4>
        <ul class="nav nav-tabs">
          <li ng-class="{'active':'qnaire'==part2Tab}">
            <a ng-click="part2Tab='qnaire'">Section A: Questionnaires</a>
          </li>
          <li ng-class="{'active':'physical'==part2Tab}">
            <a ng-click="part2Tab='physical'">Section B: Physical Assessments</a>
          </li>
          <li ng-class="{'active':'biomarker'==part2Tab}">
            <a ng-click="part2Tab='biomarker'">Section C: Biomarkers measured in blood</a>
          </li>
        </ul>
        <div ng-if="'qnaire'==part2Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="qnaire" class="col-sm-9 control-label">
                  Please check if you are requesting questionnaire data from the CLSA BASELINE data collection
                </label>
                <div class="col-sm-3">
                  <input id="qnaire" class="form-control" ng-model="qnaire" type="checkbox"></input>
                </div>
              </div>
              <table class="table table-striped rounded" ng-if="qnaire">
                <thead class="bg-info">
                  <tr>
                    <td>Interview Module</td>
                    <td>Tracking<br/>(Telephone Interview)</td>
                    <td>Comprehensive<br/>(Face-to-face Interview - In-home or DCS visit)</td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div ng-if="'physical'==part2Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
          </div>
        </div>
        <div ng-if="'biomarker'==part2Tab" class="panel panel-default" style="border-top-left-radius: 0px;">
          <div class="panel-body">
          </div>
        </div>
      </div>
    </div>
    <div ng-if="'part3'==tab" class="panel panel-default" style="border-top-left-radius: 0px;">
      <div class="panel-body" style="padding-bottom: 0px;">
      </div>
    </div>
  </div>
</div>
