<div
  class="utility-view rounded"
  style="padding-bottom: 2em;"
  ng-show="!isComplete || model.isLoading"
>
  <cn-loading></cn-loading>
</div>
<div class="utility-view rounded" ng-show="isComplete && !model.isLoading">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <button class="btn btn-menu btn-header btn-info pull-right"
              style="margin-top:-4px;"
              ng-click="model.viewModel.toggleLanguage()">
        {{ 'en'==model.viewModel.record.lang ? 'Version française' : 'English Version' }}
      </button>
      <span ng-bind-html="t( 'heading' )"></span>
    </h4>
  </div>
  <div class="form-footer text-right bg-info" style="height:4.6em;">
    <div class="btn-group">
      <button type="button"
              class="btn btn-default dropdown-toggle"
              id="downloadForms"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ng-click="model.viewModel.downloadForm()"
              ng-bind-html="t( 'misc.download' )"></button>
      <div class="btn-group dropdown" ng-if="model.viewModel.show( 'compare' ) && 1 < model.viewModel.versionList.length">
        <button type="button"
                class="btn btn-info dropdown-toggle"
                id="versionList"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          Compare {{ null == model.viewModel.compareRecord ? '' : 'Version ' + model.viewModel.compareRecord.version }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu full-width" aria-labelledby="versionList">
          <li ng-repeat="version in model.viewModel.versionList">
            <a ng-if="version.id != model.viewModel.record.id && model.viewModel.compareRecord != version"
               ng-click="compareTo( version )">
              {{ null == version ? 'none' : 'Version ' + version.version }}
            </a>
          </li>
        </ul>
      </div>
      <button class="btn btn-primary"
              ng-if="model.viewModel.show( 'view' )"
              ng-click="model.viewModel.transitionTo('manuscript')"
              type="button">Show Record</button>
      <button class="btn btn-success"
              ng-if="model.viewModel.show( 'submit' )"
              ng-click="model.viewModel.submit()"
              ng-bind-html="t( 'misc.submit' )"
              type="button"></button>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 1em;">
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{'active':'instructions'==model.viewModel.formTab}">
        <a ng-click="model.viewModel.setFormTab('instructions')" ng-bind-html="t( 'instructions.tab' )"></a>
      </li>
      <li ng-repeat="part in [1,2,3,4]" ng-class="{'active':'part_'+part == model.viewModel.formTab}">
        <a ng-click="model.viewModel.setFormTab('part_'+part)"
           ng-class="{
             'text-warning flashing': model.getEditEnabled() && model.viewModel.record['deferral_note_part_'+part],
             'bg-warning': model.viewModel.compareRecord.differences['part_'+part].diff
           }"
           ng-bind-html="t( 'part_'+part+'.tab' )"></a>
      </li>
    </ul>
    <div
      ng-show="'instructions'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 ng-bind-html="t( 'instructions.title' )"></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-bind-html="t( 'instructions.text1' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text2' )"></li>
        </ul>
      </div>
    </div>
    <div
      ng-show="'part_1'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_1" class="bg-info"></cn-deferral-note>
        <form name="form" class="form-horizontal" novalidate>
          <div class="form-group">
            <div class="form-body input-group">
              <div
                ng-repeat="attachment in model.viewModel.attachmentList"
                style="padding-top: 1.5em; padding-bottom: 1.5em;"
              >
                <label
                  for="attachment{{ attachment.id }}"
                  class="control-label col-sm-4"
                  ng-bind-html="attachment.name"
                ></label>
                <div class="col-sm-8">
                  <!-- TODO: put file input here? -->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      ng-show="'part_2'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_2" class="bg-info"></cn-deferral-note>
        <form name="form" class="form-horizontal" novalidate>
          <div class="form-group">
            <div class="form-body input-group">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      ng-show="'part_3'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_3" class="bg-info"></cn-deferral-note>
        <form name="form" class="form-horizontal" novalidate>
          <div class="form-group">
            <div class="form-body input-group">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      ng-show="'part_4'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_4" class="bg-info"></cn-deferral-note>
        <form name="form" class="form-horizontal" novalidate>
          <div class="form-group">
            <div class="form-body input-group">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info" style="height:4.6em;">
    {{ model.viewModel.formTab }}
  </div>
</div>
