<div
  class="utility-view rounded"
  style="padding-bottom: 2em;"
  ng-show="!isComplete || model.isLoading"
>
  <cn-loading></cn-loading>
</div>
<div class="utility-view rounded" ng-show="isComplete && !model.isLoading">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <button class="btn btn-menu btn-header btn-info pull-right"
              style="margin-top:-4px;"
              ng-click="model.viewModel.toggleLanguage()">
        {{ 'en'==model.viewModel.record.lang ? 'Version française' : 'English Version' }}
      </button>
      <span ng-bind-html="t( 'heading' )"></span>
    </h4>
  </div>
  <div class="form-footer text-right bg-info" style="height:4.6em;">
    <div class="btn-group">
      <button type="button"
              class="btn btn-default dropdown-toggle"
              id="downloadForms"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ng-click="model.viewModel.downloadForm()"
              ng-bind-html="t( 'misc.download' )"></button>
      <div class="btn-group dropdown" ng-if="model.viewModel.show( 'compare' ) && 1 < model.viewModel.versionList.length">
        <button type="button"
                class="btn btn-info dropdown-toggle"
                id="versionList"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          Compare {{ null == model.viewModel.compareRecord ? '' : 'Version ' + model.viewModel.compareRecord.version }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu full-width" aria-labelledby="versionList">
          <li ng-repeat="version in model.viewModel.versionList">
            <a ng-if="version.id != model.viewModel.record.id && model.viewModel.compareRecord != version"
               ng-click="compareTo( version )">
              {{ null == version ? 'none' : 'Version ' + version.version }}
            </a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default"
              ng-click="model.viewModel.transitionTo('application')"
              ng-bind-html="t( 'misc.viewApplication' )"
              type="button"></button>
      <button class="btn btn-primary"
              ng-if="model.viewModel.show( 'view' )"
              ng-click="model.viewModel.transitionTo('manuscript')"
              type="button">Show Record</button>
      <button class="btn btn-success"
              ng-if="model.viewModel.show( 'submit' )"
              ng-click="model.viewModel.submit()"
              ng-bind-html="t( 'misc.submit' )"
              type="button"></button>
    </div>
    <div class="btn-group pull-left">
      <button class="btn btn-danger"
              ng-if="model.viewModel.show( 'delete' )"
              ng-click="model.viewModel.delete()"
              ng-bind-html="t( 'misc.delete' )"
              type="button"></button>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 1em;">
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{'active':'instructions'==model.viewModel.formTab}">
        <a ng-click="model.viewModel.setFormTab('instructions')" ng-bind-html="t( 'instructions.tab' )"></a>
      </li>
      <li ng-repeat="part in [1,2,3,4]" ng-class="{'active':'part_'+part == model.viewModel.formTab}">
        <a ng-click="model.viewModel.setFormTab('part_'+part)"
           ng-class="{
             'text-warning flashing': model.getEditEnabled() && model.viewModel.record['deferral_note_part_'+part],
             'bg-warning': model.viewModel.compareRecord.differences['part_'+part].diff
           }"
           ng-bind-html="t( 'part_'+part+'.tab' )"></a>
      </li>
    </ul>
    <div
      ng-show="'instructions'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body" style="padding-bottom: 0px;">
        <h4 class="text-primary" ng-bind-html="t( 'instructions.title' )"></h4>
        <ul class="list-group">
          <li class="list-group-item" ng-bind-html="t( 'instructions.text1' )"></li>
          <li class="list-group-item" ng-bind-html="t( 'instructions.text2' )"></li>
        </ul>
      </div>
    </div>
    <div
      ng-show="'part_1'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <h3 ng-bind-html="t( 'part_1.title' )"></h3>
        <p class="text-primary" ng-bind-html="t( 'part_1.description' )"></p>
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_1" class="bg-info"></cn-deferral-note>
          <div class="container-fluid vertical-spacer">
            <div class="panel panel-default">
              <div class="panel-body">
                <div
                  ng-show="0 == model.viewModel.attachmentList.length"
                  ng-bind-html="t( 'part_1.noAttachments' )"
                ></div>
                <table class="table table-striped table-hover" ng-show="0 < model.viewModel.attachmentList.length">
                  <thead class="bg-info">
                    <tr>
                      <td ng-bind-html="t( 'part_1.filename' )"></td>
                      <td ng-bind-html="t( 'part_1.size' )"></td>
                      <td ng-show="model.getEditEnabled()"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      ng-repeat="attachment in model.viewModel.attachmentList"
                      ng-click="model.viewModel.downloadAttachment(attachment.id)"
                    >
                      <td ng-bind-html="attachment.name"></td>
                      <td ng-bind-html="attachment.size | cnSize"></td>
                      <td ng-show="model.getEditEnabled()">
                        <button class="btn btn-xs btn-danger"
                                ng-disabled="isDeletingAttachment.includes( attachment.id )"
                                ng-click="removeAttachment( attachment.id ) && $event.stopPropagation()"
                                uib-tooltip-html="t( 'misc.remove' )">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="panel-footer" style="padding-bottom: 0px;">
                <form id="part_1Form" name="part_1Form" class="form-horizontal" novalidate><fieldset ng-disabled="isAddingAttachment">
                  <div class="container-fluid">
                    <cn-add-input
                      class="col-xs-10"
                      input="{ key: 'data', title: '', type: 'base64', mimeType: 'application/octet-stream' }"
                      model="model.viewModel.attachmentModel"
                      first="false"
                    ></cn-add-input>
                    <button
                      class="btn btn-primary col-xs-2"
                      ng-click="addAttachment()"
                      ng-bind-html="t( isAddingAttachment ? 'part_1.pleaseWait' : 'part_1.addAttachment' )"
                    ></button>
                  </div>
                </fieldset></form>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div
      ng-show="'part_2'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <h3 ng-bind-html="t( 'part_2.title' )"></h3>
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_2" class="bg-info"></cn-deferral-note>
        <form name="part_2Form" class="form-horizontal" novalidate>
          <div class="container-fluid vertical-spacer">
            <ul class="list-group">
              <li class="list-group-item">
                <cn-view-input-with-differences
                  input="{
                    key: 'authors',
                    title: t( 'part_2.authors' ),
                    type: 'string',
                  }"
                  difference="model.viewModel.compareRecord.differences.part_2.authors"
                  model="model">
                </cn-view-input-with-differences>
                <cn-view-input-with-differences
                  input="{
                    key: 'date',
                    title: t( 'part_2.date' ),
                    type: 'date',
                    constant: true
                  }"
                  difference="model.viewModel.compareRecord.differences.part_2.date"
                  model="model">
                </cn-view-input-with-differences>
                <cn-view-input-with-differences
                  input="{
                    key: 'journal',
                    title: t( 'part_2.journal' ),
                    type: 'string',
                  }"
                  difference="model.viewModel.compareRecord.differences.part_2.journal"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_2.objectives_description' )"></p>
                <cn-view-input-with-differences
                  input="{
                    key: 'objectives',
                    title:
                      t( 'part_2.objectives' ) + '<br><span class=text-info>(' +
                      model.viewModel.charCount.objectives + ' ' + t( 'misc.chars' ) + ')</span>',
                    type: 'text',
                    maxLength: 1500
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_2.objectives"
                  model="model">
                </cn-view-input-with-differences>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
    <div
      ng-show="'part_3'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <h3 ng-bind-html="t( 'part_3.title' )"></h3>
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_3" class="bg-info"></cn-deferral-note>
        <form name="part_3Form" class="form-horizontal" novalidate>
          <div class="container-fluid vertical-spacer">
            <ul class="list-group">
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_3.clsa_title_description' )"></p>
                <cn-view-input-with-differences
                  input="{
                    key: 'clsa_title',
                    title: t( 'part_3.clsa_title' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.clsa_title"
                  model="model">
                </cn-view-input-with-differences>
                <cn-view-input-with-differences
                  ng-if="false === model.viewModel.record.clsa_title"
                  input="{
                    key: 'clsa_title_justification',
                    title: t( 'part_3.clsa_title_justification' ),
                    type: 'text',
                    maxLength: 1500
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.clsa_title_justification"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_3.clsa_keyword_description' )"></p>
                <cn-view-input-with-differences
                  input="{
                    key: 'clsa_keyword',
                    title: t( 'part_3.clsa_keyword' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.clsa_keyword"
                  model="model">
                </cn-view-input-with-differences>
                <cn-view-input-with-differences
                  ng-if="false === model.viewModel.record.clsa_keyword"
                  input="{
                    key: 'clsa_keyword_justification',
                    title: t( 'part_3.clsa_keyword_justification' ),
                    type: 'text',
                    maxLength: 1500
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.clsa_keyword_justification"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_3.clsa_reference_description' )"></p>
                <ul class="list-group container allow-select">
                  <li class="list-group-item text-muted" ng-bind-html="t( 'part_3.clsa_reference_ref1' )"></li>
                  <li class="list-group-item text-muted" ng-bind-html="t( 'part_3.clsa_reference_ref2' )"></li>
                </ul>
                <cn-view-input-with-differences
                  input="{
                    key: 'clsa_reference',
                    title: t( 'part_3.clsa_reference' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.clsa_reference"
                  model="model">
                </cn-view-input-with-differences>
                <cn-view-input-with-differences
                  ng-if="false === model.viewModel.record.clsa_reference"
                  input="{
                    key: 'clsa_reference_justification',
                    title: t( 'part_3.clsa_reference_justification' ),
                    type: 'text',
                    maxLength: 1500
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.clsa_reference_justification"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item" ng-if="model.viewModel.record.has_genomics_data">
                <p class="text-primary" ng-bind-html="t( 'part_3.genomics_description' )"></p>
                <ul class="list-group container allow-select">
                  <li class="list-group-item text-muted" ng-bind-html="t( 'part_3.genomics_ref' )"></li>
                </ul>
                <cn-view-input-with-differences
                  input="{
                    key: 'genomics',
                    title: t( 'part_3.genomics' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.genomics"
                  model="model">
                </cn-view-input-with-differences>
                <cn-view-input-with-differences
                  ng-if="false === model.viewModel.record.genomics"
                  input="{
                    key: 'genomics_justification',
                    title: t( 'part_3.genomics_justification' ),
                    type: 'text',
                    maxLength: 1500
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_3.genomics_justification"
                  model="model">
                </cn-view-input-with-differences>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
    <div
      ng-show="'part_4'==model.viewModel.formTab"
      class="panel panel-default"
      style="border-top-left-radius: 0px;"
    >
      <div class="panel-body">
        <h3 ng-bind-html="t( 'part_4.title' )"></h3>
        <cn-deferral-note ng-if="model.getEditEnabled()" page="part_4" class="bg-info"></cn-deferral-note>
        <form name="part_4Form" class="form-horizontal" novalidate>
          <div class="container-fluid vertical-spacer">
            <ul class="list-group">
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_4.acknowledgment_description' )"></p>
                <ul class="list-group container allow-select">
                  <li
                    class="list-group-item text-muted"
                    ng-bind-html="
                      t( 'part_4.acknowledgment_example1' ) +
                      model.viewModel.record.identifier +
                      t( 'part_4.acknowledgment_example2' )
                    "
                  ></li>
                </ul>
                <cn-view-input-with-differences
                  input="{
                    key: 'acknowledgment',
                    title: t( 'part_4.acknowledgment' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNAEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.acknowledgment"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_4.dataset_version_description' )"></p>
                <cn-view-input-with-differences
                  input="{
                    key: 'dataset_version',
                    title: t( 'part_4.dataset_version' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNAEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.dataset_version"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item" ng-if="model.viewModel.record.has_seroprevalence_data">
                <p class="text-primary" ng-bind-html="t( 'part_4.dataset_version_description' )"></p>
                <ul class="list-group container allow-select">
                  <li class="list-group-item text-muted" ng-bind-html="t( 'part_4.seroprevalence_example' )"></li>
                </ul>
                <cn-view-input-with-differences
                  input="{
                    key: 'seroprevalence',
                    title: t( 'part_4.seroprevalence' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNAEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.seroprevalence"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item" ng-if="model.viewModel.record.has_covid_data">
                <p class="text-primary" ng-bind-html="t( 'part_4.covid_description' )"></p>
                <ul class="list-group container allow-select">
                  <li class="list-group-item text-muted" ng-bind-html="t( 'part_4.covid_example' )"></li>
                </ul>
                <cn-view-input-with-differences
                  input="{
                    key: 'covid',
                    title: t( 'part_4.covid' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNAEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.covid"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_4.disclaimer_description' )"></p>
                <ul class="list-group container allow-select">
                  <li class="list-group-item text-muted" ng-bind-html="t( 'part_4.disclaimer_example' )"></li>
                </ul>
                <cn-view-input-with-differences
                  input="{
                    key: 'disclaimer',
                    title: t( 'part_4.disclaimer' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNoEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.disclaimer"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_4.statement_description' )"></p>
                <ul class="list-group container allow-select">
                  <li class="list-group-item text-muted" ng-bind-html="t( 'part_4.statement_example' )"></li>
                </ul>
                <cn-view-input-with-differences
                  input="{
                    key: 'statement',
                    title: t( 'part_4.statement' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNAEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.statement"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_4.website_description' )"></p>
                <cn-view-input-with-differences
                  input="{
                    key: 'website',
                    title: t( 'part_4.website' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNAEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.website"
                  model="model">
                </cn-view-input-with-differences>
              </li>
              <li class="list-group-item">
                <p class="text-primary" ng-bind-html="t( 'part_4.indigenous_description' )"></p>
                <cn-view-input-with-differences
                  input="{
                    key: 'indigenous',
                    title: t( 'part_4.indigenous' ),
                    type: 'boolean',
                    enumList: model.metadata.yesNAEnumList[model.viewModel.record.lang]
                  }"
                  no-cols=true
                  difference="model.viewModel.compareRecord.differences.part_4.indigenous"
                  model="model">
                </cn-view-input-with-differences>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info" style="height:4.6em;">
    <button class="btn btn-primary pull-left"
            ng-if="'instructions' != model.viewModel.formTab"
            ng-click="model.viewModel.nextTab( true )"
            ng-bind-html="'<i class=\'glyphicon glyphicon-arrow-left\'></i> ' + t( 'misc.prevButton' )">
    </button>
    <button class="btn btn-primary"
            ng-if="'part_4' != model.viewModel.formTab"
            ng-click="model.viewModel.nextTab( false )"
            ng-bind-html="t( 'misc.nextButton' ) + ' <i class=\'glyphicon glyphicon-arrow-right\'></i>'">
    </button>
  </div>
</div>
